.bg-img1 {
  background-color: #000;
  background-size: cover;
  background-image: url(img/image.png);
}

.bg-img2 {
  background-color: #000;
  background-size: cover;
  background-image: url(img/hinh-nen-background-dep.jpg);
}

.bg-img3 {
  background-color: #000;
  background-size: cover;
  background-image: url(img/image.png);
}

.carousel-inner {
  height: 100%;
}

.carousel-item {
  height: 100%;
}
